{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}

    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portfolio/vendors/@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/live-resume.css' %}">

</head>

<body>
<header>

    <nav class="collapsible-nav" id="collapsible-nav">
    <a href="{% url 'home' %}" class="nav-link {% if active_page == 'home' %}active{% endif %}">ГЛАВНАЯ</a>
    <a href="{% static 'portfolio/resume.pdf' %}" target="_blank" class="nav-link ">РЕЗЮМЕ</a>
    <a href="{% url 'portfolio' %}" class="nav-link {% if active_page == 'portfolio' %}active{% endif %}">ПОРТФОЛИО</a>
    <a href="{% url 'contact' %}" class="nav-link {% if active_page == 'contact' %}active{% endif %}">КОНТАКТЫ</a>
</nav>
    <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="{% static 'portfolio/images/hamburger.svg' %}" alt="hamburger"></button>

</header>
<div class="content-wrapper">
    <aside>

        <h1 class="profile-name">Степурко Александр</h1>
        <div class="text-center">
            <span class="badge badge-white badge-pill profile-designation">Backend developer</span>
        </div>
        <nav class="social-links">
            <a href="https://www.linkedin.com/in/alexnadr-stepurko/" target="_blank" class="social-link"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://t.me/swwwo42" target="_blank" class="social-link"><i class="fab fa-telegram-plane"></i></a>
            <a href="https://github.com/Aliaksandrsw" target="_blank" class="social-link"><i class="fab fa-github"></i></a>
        </nav>
        <div class="widget">
            <h5 class="widget-title">Личная информация</h5>
            <div class="widget-content">
                <p>ДЕНЬ РОЖДЕНИЯ : 21&nbsp;октября 1989</p>
                <p>ТЕЛЕФОН: +375298577697</p>
                <p>ПОЧТА: swird@ya.ru</p>
                <p>Местоположение: Беларусь</p>
            </div>
        </div>
        <div class="widget card">
            <div class="card-body">
                <div class="widget-content">
                    <h5 class="widget-title card-title">ЯЗЫКИ</h5>
                    <p>Русский : родной</p>
                    <p>Английский : ниже среднего</p>
                    <p> </p>
                </div>
            </div>
        </div>
        <div class="widget card">

        </div>
    </aside>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</div>

<script src="{% static 'portfolio/vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'portfolio/vendors/@popperjs/core/dist/umd/popper-base.min.js' %}"></script>
<script src="{% static 'portfolio/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'portfolio/js/live-resume.js' %}"></script>

</body>

</html>
