{% extends 'portfolio/base.html' %}

{% block title %}
    <title> Главная </title>
{% endblock %}

{% block content %}
    <section class="intro-section">
        <h2 class="section-title">Привет!</h2>
        <p>
            Python backend разработчик . Специализируюсь на создании эффективных и
            масштабируемых веб-приложений. Обладаю навыками парсинга данных, что позволяет мне разрабатывать решения для
            автоматизированного сбора и анализа информации. Постоянно ищу новые возможности для профессионального роста
            и применения своих навыков в различных проектах.</p>
        <h3>Ключевые навыки:</h3>
        <ul>
            <li>Python backend разработка</li>
            <li>Разработка API</li>
            <li>Django </li>
            <li>Celery</li>
            <li>Redis</li>
            <li>PostgreSQL</li>

        </ul>

    </section>

{% endblock %}