.navbar-nav .nav-link {
    color: rgba(0,0,0,1);
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,0,.5);
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 3.5rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 1.8rem;
    }

    #blogdetailtitle {
        font-size: 3rem;
    }
}


.project-image-container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.project-image {
    width: 50%;
    height: 50%;
    object-fit: cover;
    object-position: center;
}